.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.950684;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:190.111600px;}
._1{width:221.736400px;}
.fc1{color:rgb(58,93,156);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:30.240000px;}
.fs3{font-size:34.080000px;}
.fs2{font-size:37.920000px;}
.fs6{font-size:38.419200px;}
.fs1{font-size:41.760000px;}
.fs4{font-size:91.200000px;}
.fs0{font-size:136.800000px;}
.y8{bottom:1.003100px;}
.y4{bottom:1.548200px;}
.ya{bottom:1.739600px;}
.y11{bottom:2.272700px;}
.y6{bottom:2.357300px;}
.y12{bottom:2.476100px;}
.y18{bottom:2.679500px;}
.y15{bottom:2.706008px;}
.y17{bottom:2.753600px;}
.y13{bottom:2.883000px;}
.yd{bottom:2.883100px;}
.y21{bottom:3.162800px;}
.y23{bottom:3.162900px;}
.y20{bottom:3.738200px;}
.yc{bottom:5.502300px;}
.y2{bottom:6.030900px;}
.yf{bottom:6.891500px;}
.y1f{bottom:15.476400px;}
.y0{bottom:17.500000px;}
.y24{bottom:18.250000px;}
.y1e{bottom:27.214500px;}
.y1d{bottom:30.954800px;}
.y22{bottom:43.659600px;}
.y1c{bottom:56.364400px;}
.y1b{bottom:69.069200px;}
.y1a{bottom:81.774000px;}
.y19{bottom:94.478800px;}
.y16{bottom:107.183600px;}
.y14{bottom:127.345600px;}
.y10{bottom:152.755200px;}
.ye{bottom:172.917100px;}
.yb{bottom:205.783900px;}
.y9{bottom:233.403100px;}
.y7{bottom:245.555500px;}
.y5{bottom:256.050800px;}
.y3{bottom:269.307900px;}
.y1{bottom:282.012700px;}
.h9{height:9.995300px;}
.hb{height:11.652400px;}
.h4{height:12.204800px;}
.h6{height:12.757100px;}
.h10{height:19.661900px;}
.he{height:19.662000px;}
.h13{height:22.015547px;}
.h11{height:22.045078px;}
.ha{height:24.844453px;}
.hc{height:27.119200px;}
.h7{height:27.606797px;}
.h8{height:27.643828px;}
.h12{height:27.970228px;}
.hf{height:30.402422px;}
.h5{height:30.443203px;}
.h14{height:34.605703px;}
.h2{height:36.509700px;}
.h15{height:37.614400px;}
.hd{height:66.396094px;}
.h3{height:99.594141px;}
.h1{height:299.000000px;}
.h0{height:334.612400px;}
.w14{width:16.742800px;}
.w7{width:30.986800px;}
.w10{width:36.984400px;}
.w15{width:54.227100px;}
.we{width:56.476200px;}
.w4{width:60.974300px;}
.w13{width:65.472400px;}
.w9{width:82.715200px;}
.wb{width:87.213400px;}
.wa{width:111.203300px;}
.w12{width:132.194600px;}
.w11{width:137.442300px;}
.w6{width:148.687700px;}
.w17{width:163.681400px;}
.w8{width:169.679000px;}
.w16{width:201.165800px;}
.wf{width:225.155700px;}
.wc{width:262.640100px;}
.w5{width:396.084300px;}
.wd{width:400.582400px;}
.w3{width:457.558600px;}
.w2{width:474.051700px;}
.w1{width:563.000000px;}
.w0{width:604.025100px;}
.x2{left:1.749500px;}
.x5{left:4.283800px;}
.x16{left:5.770000px;}
.xb{left:7.713900px;}
.x12{left:11.925700px;}
.xe{left:12.963400px;}
.x18{left:18.875700px;}
.x19{left:21.190100px;}
.x0{left:23.500000px;}
.x17{left:25.747900px;}
.x14{left:28.900300px;}
.xa{left:38.183000px;}
.x13{left:49.283000px;}
.x11{left:51.302400px;}
.xc{left:57.309000px;}
.x1a{left:61.813300px;}
.x8{left:64.719000px;}
.xf{left:84.726800px;}
.x1{left:111.723400px;}
.x4{left:173.197700px;}
.x3{left:179.168900px;}
.x6{left:204.684500px;}
.x10{left:337.379100px;}
.x7{left:374.863500px;}
.x15{left:440.835900px;}
.x9{left:458.078700px;}
.xd{left:512.805800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:253.482133pt;}
._1{width:295.648533pt;}
.fs5{font-size:40.320000pt;}
.fs3{font-size:45.440000pt;}
.fs2{font-size:50.560000pt;}
.fs6{font-size:51.225600pt;}
.fs1{font-size:55.680000pt;}
.fs4{font-size:121.600000pt;}
.fs0{font-size:182.400000pt;}
.y8{bottom:1.337467pt;}
.y4{bottom:2.064267pt;}
.ya{bottom:2.319467pt;}
.y11{bottom:3.030267pt;}
.y6{bottom:3.143067pt;}
.y12{bottom:3.301467pt;}
.y18{bottom:3.572667pt;}
.y15{bottom:3.608011pt;}
.y17{bottom:3.671467pt;}
.y13{bottom:3.844000pt;}
.yd{bottom:3.844133pt;}
.y21{bottom:4.217067pt;}
.y23{bottom:4.217200pt;}
.y20{bottom:4.984267pt;}
.yc{bottom:7.336400pt;}
.y2{bottom:8.041200pt;}
.yf{bottom:9.188667pt;}
.y1f{bottom:20.635200pt;}
.y0{bottom:23.333333pt;}
.y24{bottom:24.333333pt;}
.y1e{bottom:36.286000pt;}
.y1d{bottom:41.273067pt;}
.y22{bottom:58.212800pt;}
.y1c{bottom:75.152533pt;}
.y1b{bottom:92.092267pt;}
.y1a{bottom:109.032000pt;}
.y19{bottom:125.971733pt;}
.y16{bottom:142.911467pt;}
.y14{bottom:169.794133pt;}
.y10{bottom:203.673600pt;}
.ye{bottom:230.556133pt;}
.yb{bottom:274.378533pt;}
.y9{bottom:311.204133pt;}
.y7{bottom:327.407333pt;}
.y5{bottom:341.401067pt;}
.y3{bottom:359.077200pt;}
.y1{bottom:376.016933pt;}
.h9{height:13.327067pt;}
.hb{height:15.536533pt;}
.h4{height:16.273067pt;}
.h6{height:17.009467pt;}
.h10{height:26.215867pt;}
.he{height:26.216000pt;}
.h13{height:29.354062pt;}
.h11{height:29.393437pt;}
.ha{height:33.125937pt;}
.hc{height:36.158933pt;}
.h7{height:36.809062pt;}
.h8{height:36.858438pt;}
.h12{height:37.293637pt;}
.hf{height:40.536562pt;}
.h5{height:40.590937pt;}
.h14{height:46.140937pt;}
.h2{height:48.679600pt;}
.h15{height:50.152533pt;}
.hd{height:88.528125pt;}
.h3{height:132.792188pt;}
.h1{height:398.666667pt;}
.h0{height:446.149867pt;}
.w14{width:22.323733pt;}
.w7{width:41.315733pt;}
.w10{width:49.312533pt;}
.w15{width:72.302800pt;}
.we{width:75.301600pt;}
.w4{width:81.299067pt;}
.w13{width:87.296533pt;}
.w9{width:110.286933pt;}
.wb{width:116.284533pt;}
.wa{width:148.271067pt;}
.w12{width:176.259467pt;}
.w11{width:183.256400pt;}
.w6{width:198.250267pt;}
.w17{width:218.241867pt;}
.w8{width:226.238667pt;}
.w16{width:268.221067pt;}
.wf{width:300.207600pt;}
.wc{width:350.186800pt;}
.w5{width:528.112400pt;}
.wd{width:534.109867pt;}
.w3{width:610.078133pt;}
.w2{width:632.068933pt;}
.w1{width:750.666667pt;}
.w0{width:805.366800pt;}
.x2{left:2.332667pt;}
.x5{left:5.711733pt;}
.x16{left:7.693333pt;}
.xb{left:10.285200pt;}
.x12{left:15.900933pt;}
.xe{left:17.284533pt;}
.x18{left:25.167600pt;}
.x19{left:28.253467pt;}
.x0{left:31.333333pt;}
.x17{left:34.330533pt;}
.x14{left:38.533733pt;}
.xa{left:50.910667pt;}
.x13{left:65.710667pt;}
.x11{left:68.403200pt;}
.xc{left:76.412000pt;}
.x1a{left:82.417733pt;}
.x8{left:86.292000pt;}
.xf{left:112.969067pt;}
.x1{left:148.964533pt;}
.x4{left:230.930267pt;}
.x3{left:238.891867pt;}
.x6{left:272.912667pt;}
.x10{left:449.838800pt;}
.x7{left:499.818000pt;}
.x15{left:587.781200pt;}
.x9{left:610.771600pt;}
.xd{left:683.741067pt;}
}
